:root {
  font-size: 18px;
  font-family: sans-serif;
  box-sizing: border-box;

  --green: mediumspringgreen;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 968px;
  min-height: 100vh;
  flex-direction: column;
}
.Game {
  display: grid;
  grid-template-columns: 1fr 300px;
}
.GridContainer {
  overflow: scroll;
  max-height: 100vh;
}

.Error {
  color: red;
  text-decoration: underline;
}

.EmojiGrid {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}
.EmojiCell {
  background: none;
  border: none;
  padding: 0;
  font-size: 3rem;
  text-align: center;
  position: relative;
  background: transparent;
}

[class*='progress']::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  z-index: -1;
}

.progress-1-of-5::after {
  height: 20%;
}
.progress-2-of-5::after {
  height: 40%;
}
.progress-3-of-5::after {
  height: 60%;
}
.progress-4-of-5::after {
  height: 80%;
}
.progress-5-of-5::after {
  height: 100%;
}

.progress-1-of-1::after {
  height: 50%;
}

.progress-1-of-3::after {
  height: 33.33%;
}
.progress-2-of-3::after {
  height: 66.66%;
}
.progress-3-of-3::after {
  height: 100%;
}

.progress-1-of-8::after {
  height: 12.5%;
}
.progress-2-of-8::after {
  height: 25%;
}
.progress-3-of-8::after {
  height: 37.5%;
}
.progress-4-of-8::after {
  height: 50%;
}
.progress-5-of-8::after {
  height: 62.5%;
}
.progress-6-of-8::after {
  height: 75%;
}
.progress-7-of-8::after {
  height: 87.5%;
}
.progress-8-of-8::after {
  height: 100%;
}

.SelectionBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  background-color: mediumspringgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SelectionBar-accept,
.SelectionBar-decline {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  opacity: 0.7;
}
